*{
    margin: 0px;
    padding: 0px;
    border: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #000;
    color: #fff;
    text-decoration: none;
}
/* NAV-BAR */
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    margin-top: 25px;
}
.box1{
    margin-left: 40px; 
    font-size: 1.5rem;
    font-weight: 700;
    color: red;
}
.box2{
    width: 60%;
}
.box3 img{
   width: 30%;
}
.list{
    display: flex;
    justify-content: center;
    gap: 50px;
    list-style-type: none;
    font-size: 1rem;
    /* border-bottom: 0.1px solid gray; */
}
.list li:hover{
    transform: scale(1.1);
}
hr{
    width: 70%;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    color: rgb(113, 113, 113);
    size: 10;
    border: 1px solid grey;
}

.box3{
    margin-right: 40px;
    margin-top: 25px;
    height: 8rem;
    width: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box3 img{
    border-radius: 40%;
    /* padding: 2px; */
    background-color: #fff;
    border: 1px solid white;
}
.bb{
    display: none;
    font-size: 1.2rem;
}

/* PANEL-BAR */

.div2{
    height: 100px;
    width: 100px;
}
.div2 img{
    height: 100%;
    width: 100%;
}
.panel-bar{
    margin-left: 40px;
}
.a1{
    margin-left: 40px;
    margin-top: 80px;
    font-size: 1rem;
}
.a2{
    margin-left: 40px;
    margin-top: 15px;
    font-size: 3rem;
    font-weight: 700;
}
.a3{
    margin-top: 15px;
    display: flex;
    margin-left: 40px;
    font-size: 1rem;
}
.year{
    font-weight: 600;
}
.roll{
    font-weight: 600;
}
.roll1{
    font-weight: lighter;
    color: rgb(113, 113, 113);
}
.a4{
    width: 45%;
    margin-left: 40px;
    margin-top: 15px;
}
.para{
    color: rgb(113, 113, 113);
    font-size: 0.95rem;
}
.a5{
    margin-top: 30px;
    margin-left: 40px;
}
.res{
    width: 100px;
    height: 25px;
    background-color: red;
    font-size: 0.9rem;
    border: 1.5px solid red;
}
.res i{
    background-color: red;
}
.hire{
    margin-left: 50px;
    width: 100px;
    height: 25px;
    border: 1.5px solid white;
}
/* FOOTER */
.b1{
    margin-left: 40px;
    margin-top: 60px;
    font-size: 1rem;
}
.ex{
    font-weight: 600;
    font-size: 0.95rem;
}
.b2{
    margin-top: 15px;
    margin-left: 30px;
    /* height: 150px;
    width: 100px; */
}
.img
{
    background-size: cover;
    height: 115px;
    width: 110px;
}
.word{
    margin-top: 5px;
    text-align: center;
    font-size: 1rem;
}
.img-word{
    display: inline-block;
}
/* .img:hover{
    background-color: black;
    transform: scale(1.25);
} */