*{
    margin-top: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    border: none;
}
:root{
    --bg-color: black;
    --main: white;
    --text-color: rgb(105, 101, 101);
    --second-color: red;
    
    --h1-font: 4.2rem;
    --h2-font: 1.8rem;
    --h3-font: 1.3rem;
    --h4-font: 0.95rem;
    --p-font: 0.95rem;

}
body{
    color: var(--text-color);
    background: var(--bg-color);
}

/* header section */
header{
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--bg-color);
    z-index: 1000;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 20px 70px 15px;
}
.logo{
    color: var(--second-color);
    font-size: 1.8rem;
    font-weight: 600;
}
.navlist{
    display: flex;
    justify-content: center;
    width: 50%;
    padding-top: 10px;
    border-bottom: 1px solid grey;
    margin-right: 100px;
}
.navlist a{
    color: var(--main);
    font-size: var(--p-font);
    font-weight: 200;
    margin: 0 50px;
}
.navlist li:hover{
    transform: scale(1.2);
}



header .logo{
    float: left;
}
header ul .active{
    color: aqua;
}
.checkbtn{
    font-size: 1.5rem;
    cursor: pointer;
    float: right;
    display: none;
    width: 5px;
    color: #fff;
}
#check{
    visibility: hidden;
}


.home-logo {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 40%;
    border: 2px solid white;
}
/* #home-logo{
    width: 50px;
} */
select{
    height: 15px;
    width: 20px;
    border-style: none;
    color: #fff;
    background-color: black;
    /* text-align: center; */
}
/* home section */
/* .div{
    background-image: url('20220120_170424.jpg')no-repeat;
    background-size: cover;
} */
section{
    padding: 120px 0px 80px 60px;
}
.home{
    position: relative;
    min-height: 100vh;
}
.hero{
    display: flex;
    /* align-items: center; */
}
.hero-text{
    line-height: 1.6rem;
    /* width: 50%; */
}
.b1{
    display: flex;
    padding-bottom: 1.2rem;
}
.hero-text h4{
    font-size: var(--h4-font);
    color: var(--main);
    font-weight: lighter;
}
.hero-text h1{
    font-size: var(--h1-font);
    color: var(--main);
    font-weight: 700;
    /* padding-bottom: -5px; */
    margin-bottom: 45px;
}
.a1{
    display: flex;
}
.year,.roll{
    font-size: var(--p-font);
    color: var(--main);
}
.para{
    font-size: 0.95rem;
    line-height: 1.3rem;
    width: 80%;
}
.res-btn{
    background-color:red;
    border: 1px solid red;
}
.a2{
    display: inline-block;
}
button{
    height: 30px;
    width: 100px;
    margin-right: 20px;
    border-radius: 3px;
    font-size: 0.85rem;
    margin-top: 3px;
}
.hire-btn{
    color: var(--main);
    background-color: black;
    border: 1px solid #fff;
}
button:hover{
    transform: scale(1.1);
}


.hero-img{
   margin-right: 80px;
   margin-top: 20px;
   
}
.hero-img img{
      height: 500px;
      width: 420px;
      box-shadow: 8px 8px 15px 3px grey;
      border: 3px solid rgb(224, 220, 220);
}


/* footer section */
.footer{
    margin-top: -480px;
    margin-left: 60px;
}
.footer h4{
    font-size: var(--h4-font);
    color: var(--main);
    font-weight: 100;
    margin-top: 10px;
    margin-bottom: 15px;
}
.footer-img{
    display: flex;
}
.footer-a1{
    display: block;
    align-items: center;
    width: 120px;
    margin-right: 40px;
    z-index: 1;
}
.img img{
    height: 155px ;
    width: 130px;
    padding: 2px;
    background-color: grey;
    box-shadow: 1px 1px 5px grey;
}
.word{
    text-align: center;
    font-size: 0.95rem;
    color: var(--main);
}
.footer-a1:hover{
    transform: scale(1.1) translateX(-5px);
}
.foot{
    display: flex;
    justify-content: space-between;
    padding-top: -5px;
}
.foot-b1{
    display: block;
    flex-direction: column;
    margin-right: 0px;
    justify-content: space-evenly;
    align-items: center;
    background-image: repeating-linear-gradient(to right ,grey 0%,red 25px ,grey 90%);
    height: 60px;
    width: 35px;
    margin-top: 125px;
    z-index: 1000;
    margin-top: 90px;
}
.foot-b1 a{
    padding: 2px 2px 2px 6px;
    text-align: center;
    color: black;
    font-size: 1.2rem;
    z-index: 1000;
}
.foot-b1 a i:hover{
    color: #fff;
    transform: scale(1.1);
     /*  */
}

/* about page */
.about-img{
    height: 500px;
    width: 450px;
    background-image: url("./Images/about.jpg");
    background-size: cover;
    box-shadow: 8px 8px 15px 3px grey;
    border: 3px solid rgb(224, 220, 220); 
}
.about{
    /* margin: 150px 50px 100px; */
    display: flex;
    margin-top: 20px;
}
.about-text{
    margin-top: 90px;
    width: 50%;
    margin-left: 130px;
    display: block;
    justify-content: center;
    line-height: 1.9rem;
}
.about h4 ,.about-text h4 , .service-name h4, .skill h4,.education .educ{
    height: 30px;
    width: 110px;
    max-width: 200px;
    background-color: var(--second-color);
    color: #fff;
    text-align: center;
    padding-top:  1px; 
    border-radius: 4px;
    font-size: var(--h4-font);
}
section h3{
    font-size: 1.7rem;
    color: #fff;
    font-weight: 200;
    margin-top: 10px;
}
.text{
    display: flex;
}


/* Service page */
.service-text{
    width: 90%;
    height: 20%;
}
.s-a1{
    display: flex;
    margin-bottom: 30px;
    background-color: rgb(27, 26, 26);
    border-radius: 5px;
    border: 2px solid rgb(56, 55, 55);
    line-height: 1.6rem;
}
#s-logo{
    width: 250px;
    height: 120px;
    background-color: rgb(189, 179, 179);
    font-size: 3rem;
    color: rgb(65, 59, 59);
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid rgb(56, 55, 55); */
    border-radius: 5px;
}
.s-b1{
    width: 60%;
    height: 120px;
    padding-left: 25px;
}
.s-b1 h3{
    font-size: 1.5rem;
    padding-top: 2px;
    margin-bottom: 0px;
}
.s-b1 p{
    font-size: var(--p-font);
    color: rgb(146, 140, 140);
}

/* skill page */
.skill{
    width: 92%;
    line-height: 1.8rem;
}
.skill p{
    font-size: var(--p-font);
    width: 90%;
}
.c1 {
    display: flex;
    margin-left: -5px;
    margin-top: -5px;
}
.c1 h4{
    background-color: transparent;  
}
.c2 img{
    height: 200px;
    width: 180px;
    background-color: #fff;
    margin-left: 35px;
    border: 2px solid grey;
    margin-top: 40px;
}
.skill-img{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    margin-right: 150px;
}
.c2{
    display: grid;
    margin-left: 60px;
}
.c2 div{
    font-size: var(--h4-font);
    background-color: transparent;
    text-align: center;
    color: #fff;
    /* display: inline-block;
    justify-content: center; */
}

/* education page */
/* .education{
    padding-top: 10px;
} */
.edu{
    height: 110px;
    width: 80%;
    background-color: rgb(65, 59, 59);
    margin-bottom: 30px;
    box-shadow: 4px 4px grey;
}
.edu h3{
    font-size: var(--h3-font);
    padding-left: 10px;
    padding-top: 15px;
}
.edu h4{
    margin-bottom: -100px;
    margin-left: 10px;
    color: #fff;
}

/* project page */
.pro{
    height: 30px;
    width: 150px;
    background-color: red;
    color: #fff;
    border-radius: 5px;
    text-align: center;
}
.project-text{
    display: grid;
    grid-template-columns: auto auto auto;
    flex-wrap: wrap;
    margin-right: 50px;
}
.f1{
    height: 400px;
    width: 325px;
    background-color: rgb(24, 24, 24);
    padding-left: 20px;
    border: 1px solid gray;
    box-shadow: 4px 4px 5px 2px grey;
}
.f1-a{
    color: #fff;
    font-size: var(--h3-font);
    padding-top: 15px;
}
.f1-b{
    color: #fff;
    font-size: var(--h4-font);
    padding-top: 10px;
}
.f1 li{
    font-size: var(--p-font);
    list-style-type: disc;
    padding-bottom: 15px;
}

/* contact page */
.g1{
    padding: 25px 30px;
    width: 90%;
    background-color: rgb(24, 24, 24);
    margin-bottom: 10px;
    font-size: var(--h3-font);
    border: 1px solid grey;
}
.g1:hover{
    transform: scale(1.1);
    transition: 0.4s;
}
.g1 i{
    padding-right: 35px;
    color: rgb(213, 213, 214);
    font-size: 1.8rem;
}
.g1 a{
    color: grey;
    font-size: var(--h3-font);
}
.g2{
    text-align: center;
    font-size: 2.2rem;
    color: gray;
    padding: 25px 20px;
}
.g2 a{
    padding: 10px;
   
}
.g2 a:hover{
    color: rgb(45, 43, 43);
    transform: scale(1.1);
     border-radius: 50%;
    background-color: #fff; 
}


/* 
@media screen and (max-width: 1150px) {
    .navlist{
        padding: 0px 50px;
    }
    header{
        margin: 20px 30px;
    }
    section{
        margin: 0 -25px;
    }
    .footer h4{
        margin: 25px -25px;
    }
    .foot{
        margin: -10px -25px;
        margin-right: 10px;
    }
    .footer-a1 {
        margin-right: 4px;
    }
    .footer-a1 img{
        width: 105px;
    }
    .hero-img{
        margin-top: 60px;
        margin-right: 30px;
    }
    .hero-img img{
        height: 460px;
        width: 380px;
    }
    .foot-b1
    :root{
        --h1-font: 3rem;
        --h2-font: 1.3rem;
        --h3-font: 1rem;
        --h4-font: 0.85rem;
        --p-font: 0.8rem; 
    }
    #home-logo{
        margin-left: 700px;
    }
    .checkbtn{
        
        display: block;
        margin-left: -100px;
    }
    .navlist {
        width: 200px;
        height: 150px;
        background-color: transparent;
        position: fixed;
        top: 75px;
        right: 200px;
        left: 80%;
        text-align: center;
    }
    header ul li{
        display: block;
        margin: 20px 0px;
        line-height: 1.7rem;
    }
    #check ~ ul{
        display: none;
    }
    #check:checked ~ ul{
        display: block;
    }
    
} */
@media screen and (max-width: 1200px) {
    .hero-img{
        margin-right: 15px;
    }
    #home-logo{
        margin-right: -50px;
    }
    .footer-a1{
        margin-right: 7px;
    }
    .footer-a1 img{
        width: 113px;
    }
    .f1{
        width: 290px;
    }
    .skill-img{
        margin-left: 190px;
    }
    .c2 img{
        width: 160px;
        margin-right: 10px;
    }
}
@media screen and (max-width:1024px) {
    header{
       padding: 20px 60px 20px 40px;
    }
    .home{
        margin-top: -10px;
    }
    :root{
        --h1-font: 3rem;
        --h2-font: 1.3rem;
        --h3-font: 1rem;
        --h4-font: 0.85rem;
        --p-font: 0.8rem; 
    }
    .hero-img img{
        margin-top: -20px;
        height: 330px;
        width: 280px;
    }
    .checkbtn{
        
        display: block;
        margin-left: -100px;
    }
    .navlist {
        width: 200px;
        height: 150px;
        background-color: black;
        opacity: 0.6;
        position: fixed;
        top: 20px;
        /* right: 50px; */
        left: 0px;
        text-align: center;
    }
    #check ~ ul{
        display: none;
    }
    #check:checked ~ ul{
        display: block;
    }
    header ul {
        display: flex;
        margin: 20px 0px;
        line-height: 1.7rem;
    }
    .hero-text{
        margin-left: -25px;
    }
    .footer1{
        margin-top: 40px;
       
    }
    .footer{
        margin-left: 35px;
    }
    .footer h4{
        margin-top: 25px;
    }
    .footer-a1{
        margin-right: 20px;
    }
    .footer-a1 .img img{
        width: 120px;
        margin-right: 50px;
    }

    /* about */
    .about{
        margin-left: -25px;
    }
    .about-img{
        height: 450px;
        width: 400px;
    }
    .about-text{
        margin-left: 50px;
        margin-right: 10px;
        margin-top: 0px;
    }
    .about-text .para{
        width: 86%;
        line-height: 1.5rem;
    }
    /* service */
    .service{
        margin-left: -25px;
    }
    .service-text{
        width: 95%;
    }
    .skill-img .c2{
        margin-right: 7px;
    }
    .c2 img{
        width: 110px;
        height: 180px;
    }
    .education{
        margin-left: -25px;
    }
    .project{
        margin-left: -25px;
    }
    .f1{
        padding-top: 20px;
        width: 215px;
        height: 380px;
        margin-right: 12px;
    }
}
@media screen and (max-width:768px) {
    .hero{
        display: flex;
        flex-direction: column-reverse;
    }
    header{
        padding-left: 45px;
    }
    .hero-img{
        margin-left: -20px; 
        height: 300px;
    }
    .hero-img img{
        width: 330px;
        height: 360px;
    }
    .hero-text{
        margin-top: 100px;
    }


    .footer1{
        margin-top: 210px;
    }
    .footer-img{
        display: grid;
        grid-template-columns: auto auto;
        row-gap: 20px;
        column-gap: 25px;
    }
    .footer-a1 .img img{
        width: 135px;
        height: 160px;
    }
    /* about */
    .about{
        display: grid;
    }
    .about-img{
        width: 370px;
    }
    .about-text{
        width: 90%;
        margin-left: 0px;
        margin-top: 50px;
    }
    /* service{ */
    .s-a1{
        width: 100%;
    }
    #s-logo{
        width: 150px;
        height: 200px;
    }
    .s-b1 h3{
        padding-bottom: 5px;
    }
    /* skill */
    .skill{
        margin-left: -20px;
    }
    .skill-img{
        margin-left: 90px;
        margin-top: -30px;
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 10px;
        row-gap: -80px;
    }
    .c2 img{
        width: 130px;
    }
    /* project */
    .project-text{
        display: grid;
        grid-template-columns: auto;
        column-gap: 20px;
    }
    .f1{
        height: 330px;
        width: 310px;
        padding-top: 20px;
        margin-bottom: 15px;
    }
    .f1-a{
        padding-top: 0px;
    }
    /* contact */
    .contact{
        margin-left: -25px;
    }
    .contact-text .g1{
        width: 98%;
    }
    .g1 a{
        padding-bottom: 50px;
    }
}
@media screen and (max-width:480px) {
    header{
        padding-left: 30px;
    }
    .hero-img{
        margin-left: -35px;
    }
    .hero-img img{
        height: 310px;
        width: 270px;
    }
    .hero-text{
        margin-left: -35px;
        margin-top: 50px;
    }
    .hero-text .b1 h4{
        font-size: 0.75rem;
        display: inline-flex;
    }
    .footer h4{
        margin-left: -10px;
    }
    .footer-img{
        margin-left: -10px;
        width: 120px;
        row-gap: 20px;
        column-gap: 8px;
    }
    .footer-a1 .img img{
        width: 120px;
    }
    .foot-b1{
        margin-top: 200px;
    }
    /* about */
    .about{
        margin-left: -35px;
    }
    .about-img {
        width: 280px;
        height: 340px;
    }
    .about-text .para{
        width: 98%;
    }
    /* service */
    .service{
        margin-left: -35px;
    }
    .s-a1{
        width: 100%;
    }
    #s-logo{
        width: 110px;
        height: 220px;
    }
    .s-b1 h3{
        padding-bottom: 2px;
    }
    .s-b1{
        width: 95%;
    }
    .skill{
        margin-left: -35px;
    }
    .skill-img{
        margin-left: 130px;
        margin-top: -30px;
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 10px;
        row-gap: -20px;
    }
    .c2 img{
        width: 110px;
        height: 160px;
    }
     /* project */
     .project{
        margin-left: -35px;
     }
     .project-text{
        display: grid;
        grid-template-columns: auto;
        column-gap: 20px;
    }
    .f1{
        height: 330px;
        width: 270px;
        padding-top: 20px;
        margin-bottom: 15px;
    }
    .f1-a{
        padding-top: 0px;
    }
     /* contact */
     .contact{
        margin-left: -35px;
    }
    .contact-text .g1{
        width: 98%;
    }
    .g1 a{
        padding-bottom: 50px;
    }
}